/* #omni */

* {
/*insertroot*/

  --font-size: 15px;
  --font-size-link: 12px;
  --font-weight: normal;
  --font: Source Code Pro, sans;
  --padding: 0px;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* ---------- DAY THEME ---------- */

  --bg: #131212;
  --fg: #c5c9c5;
  --accent-fg: #2e323c;
  --border: #414754;
  --title: #b0b5bf;
  --title-accent: #5da6dc;
  --link: #7f8792;
  --link-accent: #ffbb55;

  /* ---------- NIGHT THEME ---------- */

  --nbg: #131212;
  --nfg: #c5c9c5;
  --naccent-fg: #2e323c;
  --nborder: #555555;
  --ntitle: #b0b5bf;
  --ntitle-accent: #5da6dc;
  --nlink: #7f8792;
  --nlink-accent: #ffbb55;

  font-family: var(--font);
}

#toolbar {
    display: none;
}

body::after {
    border: none;
}

body {
  background: var(--bg);
  font-weight: var(--font-weight);
  border: 2px transparent solid;
  border-radius: 0px !important;
  border-color: var(--nborder);
  border-width: 2px;
}

list {
  border-top: 2px transparent solid;
  border-color: var(--nborder);
}

.has-dark #bar,
.has-dark #input,
.has-dark #list {
  background: var(--nbg);
}


#bar {
  padding: 10px;
  border-bottom: 2px transparent solid;
  border-color: var(--nborder);
}


#bar::before {
  content: "$";
  position: absolute;
  left: 25px;
  z-index: 300;
  padding: 7px 0;
  font-weight: bold;
  font-size: var(--font-size);
  color: var(--fg);
}

.has-dark #bar::before {
  color: var(--nfg);
}


#input {
  padding: var(--padding) 38px;
  color: var(--title);
  border: 2px transparent solid;
  border-radius: 0px !important;
  border-color: var(--nborder);
  box-shadow: none;
  font-size: var(--font-size);
}

.has-dark #input {
  color: var(--ntitle);
}

.item,
.item *,
.item::before,
.item::after,
.item:hover,
.item.s {
  transition: none !important;
  animation: none !important;
  transform: none !important;
}

.item .icon {
  width: 24px;
  height: 24px;
  padding-right: unset;
  margin-right: 10px;
  margin-top: 5px;
  background-position: bottom right;
}

.item .icon path {
  opacity: 0.25;
  position: absolute;
  z-index: -1;
  transform-origin: 0px 0px;
  transform: scale(0.75);
}


.item.s,
.item:hover {
  background-color: var(--accent-fg);
  cursor: pointer;
}

.has-dark .item.s,
.has-dark .item:hover {
  background-color: var(--naccent-fg);
}


.item .top {
  color: var(--title);
  position: relative;
  height: 30px;
}

.has-dark .item .top {
  color: var(--ntitle);
}

.item .top .title {
  font-size: var(--font-size);
  line-height: 10px;
  margin-top: 2px;
}

.item .top .title match {
  color: var(--title-accent);
}

.has-dark .item .top .title match {
  color: var(--ntitle-accent);
}


.item .top .title:empty::after {
  content: "<blank>";
}


.item .bottom {
  margin-top: -10px;
  padding-left: 14px;
}

.item .bottom a {
  color: var(--link);
  font-size: var(--font-size-link);
}

.has-dark .item .bottom a {
  color: var(--nlink);
}

.item .bottom a match {
  color: var(--link-accent);
  text-decoration: none;
}

.has-dark .item .bottom a match {
  color: var(--nlink-accent);
}

body,
#bar,
#input,
#list {
  opacity: 1 !important;
  background-color: #131212 !important;
}

